* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#cat-section {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
